# Ігноруємо середовище Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігноруємо файли налаштувань та токенів
.env
config.json

# Логи та кеш
*.log
*.sqlite3
db.sqlite3

# Ігноруємо залежності
pip-log.txt
pip-delete-this-directory.txt

# Ігноруємо файли IDE
.vscode/
.idea/
*.iml